body{
    background-color: #d4e0fc;
    margin: 20px;
    padding: 0px;
}
.application,h4{
    border-radius: 5px;
    padding: 5px;
    font-size: 30px;
    box-shadow: 8px 8px 3px #abc4ff;
    background-color: #abc4ff;
    border: 1px solid #abc4ff;
    color: white;
    
}
.in{
    display: inline-block;
    margin: 20px;
    padding: 0;
    width: 300px;
}
.no{
    display: none;
}
.trigger2{
    display: none;
}
.trigger1:hover > .trigger2{
    display: initial;
}
.trigger2-1:hover > ul{
    display: initial;
}
.trigger2-2:hover > ul{
    display: initial;
}
.trigger2-3:hover > ul{
    display: initial;
}
.trigger2-4:hover > ul{
    display: initial;
}
.trigger2-5:hover > ul{
    display: initial;
}
.maindiv{
    text-align: center;
}
ul{
    text-align: left;
    
}
.application:hover,h4:hover{
    background-color: #abc4ff;
    border: 1px solid #54BAB9;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 35px;
    box-shadow: 5px 5px 5px #78a1ff;
}
li:hover{
cursor: pointer;
color: #abc4ff;
background-color: white;
padding-left: 10px ;
border-radius: 5px;
font-size: larger;
}